[user]
  name = Josh Sullivan
  email = josh@dipperstove.com
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  co = checkout
  me = log  --author='Josh' --format='%n%Creset%ad, %an:%n%Cgreen%s'
  s = status
[core]
  editor = vim
  excludesfile = ~/.gitignore
  pager = less -FRSX
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[branch]
  autosetupmerge = true

[push]
  default = current
[gitreview]
  username = jsullivandigs
